<ion-list *ngIf="languages$ | async; else noLanguage">
  <ion-list-header>
    <ion-label color="secondary">Languages</ion-label>
  </ion-list-header>
  <collection-card [languages]="languages$ | async"></collection-card>
</ion-list>

<ng-template #noLanguage>
  <ion-grid fixed [ngStyle]="{ height: '100%' }">
    <ion-row class="ion-align-items-center" [ngStyle]="{ height: '100%' }">
      <ion-col size="12">
        <ion-card color="transparent">
          <ion-card-header class="ion-text-center">
            <ion-card-title>Not learning any language yet</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <ion-row>
              <ion-col size="12">
                <ion-icon
                  color="success"
                  [ngStyle]="{ fontSize: '40px' }"
                  name="language-outline"
                ></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-text> Add a language to start </ion-text>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>
