<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Language section</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="conversation">
    <ion-segment-button value="conversation">
      <ion-label>Conversation</ion-label>
    </ion-segment-button>
    <ion-segment-button value="verb">
      <ion-label>Verb</ion-label>
    </ion-segment-button>
    <ion-segment-button value="vocabulary">
      <ion-label>Vocabulary</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>
