<ion-card
  [routerLink]="['/languages', language.url]"
  *ngFor="let language of languages"
>
  <ion-card-header>
    <ion-row class="ion-align-items-end">
      <ion-col size="11">
        <ion-card-title>{{ language.name }}</ion-card-title>
      </ion-col>
      <ion-col class="ion-text-end">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card-header>

  <ion-card-content>
    <ion-row
      class="ion-align-items-center ion-text-center"
      [ngStyle]="{ fontSize: '0.8rem' }"
    >
      <ion-col size="3">Confidence</ion-col>
      <ion-col size="9">
        <ion-row>
          <ion-col>Verb</ion-col>
          <ion-col>Conversation</ion-col>
          <ion-col>Vocabulary</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center ion-text-center">
      <ion-col size="3">%</ion-col>
      <ion-col size="9">
        <ion-row>
          <ion-col>{{ language.verb }}</ion-col>
          <ion-col>{{ language.conversation }}</ion-col>
          <ion-col>{{ language.vocabulary }}</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row [ngStyle]="{ fontSize: '0.65rem' }">
      <ion-col size="9">Last added a conversation</ion-col>
      <ion-col size="3" class="ion-text-end">{{ language.lastAdded }}</ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
