<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{routeName | slice:13 | titlecase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment
    value="conversation"
    [(ngModel)]="category"
    class="ion-padding-top ion-padding-bottom"
    color="secondary"
    slot="fixed"
  >
    <ion-segment-button value="conversation">
      <ion-label>Conversation</ion-label>
    </ion-segment-button>
    <ion-segment-button value="verb">
      <ion-label>Verb</ion-label>
    </ion-segment-button>
    <ion-segment-button value="vocabulary">
      <ion-label>Vocabulary</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container [ngSwitch]="category">
    <languages-card-list *ngSwitchCase="'conversation'"> </languages-card-list>

    <languages-card-list *ngSwitchCase="'verb'"> </languages-card-list>

    <languages-card-list *ngSwitchCase="'vocabulary'"> </languages-card-list>
  </ng-container>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="showCreateModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
