<ion-content>
  <ion-segment
    value="conversation"
    [(ngModel)]="segmentCategory"
    class="ion-padding-top ion-padding-bottom"
    color="secondary"
    slot="fixed"
  >
    <ion-segment-button value="conversation">
      <ion-label>Conversation</ion-label>
    </ion-segment-button>
    <ion-segment-button value="verb">
      <ion-label>Verb</ion-label>
    </ion-segment-button>
    <ion-segment-button value="vocabulary">
      <ion-label>Vocabulary</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container [ngSwitch]="segmentCategory">
    <ion-list *ngSwitchCase="'conversation'">
      <flashcard-card [flashcards]="conversations$ | async"></flashcard-card>
    </ion-list>

    <ion-list *ngSwitchCase="'verb'">
      <flashcard-card [flashcards]="verbs$ | async"></flashcard-card>
    </ion-list>

    <ion-list *ngSwitchCase="'vocabulary'">
      <flashcard-card [flashcards]="vocabularies$ | async"></flashcard-card>
    </ion-list>
  </ng-container>
</ion-content>
